---
---

$meter_red: #9b1919;
$meter_yellow: #e9d70f;
$meter_green: #1a953c;

.meter_0 {color: mix($meter_yellow, $meter_red, 0.00%)}
.meter_1 {color: mix($meter_yellow, $meter_red, 2.00%)}
.meter_2 {color: mix($meter_yellow, $meter_red, 4.00%)}
.meter_3 {color: mix($meter_yellow, $meter_red, 6.00%)}
.meter_4 {color: mix($meter_yellow, $meter_red, 8.00%)}
.meter_5 {color: mix($meter_yellow, $meter_red, 10.00%)}
.meter_6 {color: mix($meter_yellow, $meter_red, 12.00%)}
.meter_7 {color: mix($meter_yellow, $meter_red, 14.00%)}
.meter_8 {color: mix($meter_yellow, $meter_red, 16.00%)}
.meter_9 {color: mix($meter_yellow, $meter_red, 18.00%)}
.meter_10 {color: mix($meter_yellow, $meter_red, 20.00%)}
.meter_11 {color: mix($meter_yellow, $meter_red, 22.00%)}
.meter_12 {color: mix($meter_yellow, $meter_red, 24.00%)}
.meter_13 {color: mix($meter_yellow, $meter_red, 26.00%)}
.meter_14 {color: mix($meter_yellow, $meter_red, 28.00%)}
.meter_15 {color: mix($meter_yellow, $meter_red, 30.00%)}
.meter_16 {color: mix($meter_yellow, $meter_red, 32.00%)}
.meter_17 {color: mix($meter_yellow, $meter_red, 34.00%)}
.meter_18 {color: mix($meter_yellow, $meter_red, 36.00%)}
.meter_19 {color: mix($meter_yellow, $meter_red, 38.00%)}
.meter_20 {color: mix($meter_yellow, $meter_red, 40.00%)}
.meter_21 {color: mix($meter_yellow, $meter_red, 42.00%)}
.meter_22 {color: mix($meter_yellow, $meter_red, 44.00%)}
.meter_23 {color: mix($meter_yellow, $meter_red, 46.00%)}
.meter_24 {color: mix($meter_yellow, $meter_red, 48.00%)}
.meter_25 {color: mix($meter_yellow, $meter_red, 50.00%)}
.meter_26 {color: mix($meter_yellow, $meter_red, 52.00%)}
.meter_27 {color: mix($meter_yellow, $meter_red, 54.00%)}
.meter_28 {color: mix($meter_yellow, $meter_red, 56.00%)}
.meter_29 {color: mix($meter_yellow, $meter_red, 58.00%)}
.meter_30 {color: mix($meter_yellow, $meter_red, 60.00%)}
.meter_31 {color: mix($meter_yellow, $meter_red, 62.00%)}
.meter_32 {color: mix($meter_yellow, $meter_red, 64.00%)}
.meter_33 {color: mix($meter_yellow, $meter_red, 66.00%)}
.meter_34 {color: mix($meter_yellow, $meter_red, 68.00%)}
.meter_35 {color: mix($meter_yellow, $meter_red, 70.00%)}
.meter_36 {color: mix($meter_yellow, $meter_red, 72.00%)}
.meter_37 {color: mix($meter_yellow, $meter_red, 74.00%)}
.meter_38 {color: mix($meter_yellow, $meter_red, 76.00%)}
.meter_39 {color: mix($meter_yellow, $meter_red, 78.00%)}
.meter_40 {color: mix($meter_yellow, $meter_red, 80.00%)}
.meter_41 {color: mix($meter_yellow, $meter_red, 82.00%)}
.meter_42 {color: mix($meter_yellow, $meter_red, 84.00%)}
.meter_43 {color: mix($meter_yellow, $meter_red, 86.00%)}
.meter_44 {color: mix($meter_yellow, $meter_red, 88.00%)}
.meter_45 {color: mix($meter_yellow, $meter_red, 90.00%)}
.meter_46 {color: mix($meter_yellow, $meter_red, 92.00%)}
.meter_47 {color: mix($meter_yellow, $meter_red, 94.00%)}
.meter_48 {color: mix($meter_yellow, $meter_red, 96.00%)}
.meter_49 {color: mix($meter_yellow, $meter_red, 98.00%)}
.meter_50 {color: mix($meter_yellow, $meter_red, 100.00%)}
.meter_51 {color: mix($meter_green, $meter_yellow, 0.00%)}
.meter_52 {color: mix($meter_green, $meter_yellow, 2.04%)}
.meter_53 {color: mix($meter_green, $meter_yellow, 4.08%)}
.meter_54 {color: mix($meter_green, $meter_yellow, 6.12%)}
.meter_55 {color: mix($meter_green, $meter_yellow, 8.16%)}
.meter_56 {color: mix($meter_green, $meter_yellow, 10.20%)}
.meter_57 {color: mix($meter_green, $meter_yellow, 12.24%)}
.meter_58 {color: mix($meter_green, $meter_yellow, 14.29%)}
.meter_59 {color: mix($meter_green, $meter_yellow, 16.33%)}
.meter_60 {color: mix($meter_green, $meter_yellow, 18.37%)}
.meter_61 {color: mix($meter_green, $meter_yellow, 20.41%)}
.meter_62 {color: mix($meter_green, $meter_yellow, 22.45%)}
.meter_63 {color: mix($meter_green, $meter_yellow, 24.49%)}
.meter_64 {color: mix($meter_green, $meter_yellow, 26.53%)}
.meter_65 {color: mix($meter_green, $meter_yellow, 28.57%)}
.meter_66 {color: mix($meter_green, $meter_yellow, 30.61%)}
.meter_67 {color: mix($meter_green, $meter_yellow, 32.65%)}
.meter_68 {color: mix($meter_green, $meter_yellow, 34.69%)}
.meter_69 {color: mix($meter_green, $meter_yellow, 36.73%)}
.meter_70 {color: mix($meter_green, $meter_yellow, 38.78%)}
.meter_71 {color: mix($meter_green, $meter_yellow, 40.82%)}
.meter_72 {color: mix($meter_green, $meter_yellow, 42.86%)}
.meter_73 {color: mix($meter_green, $meter_yellow, 44.90%)}
.meter_74 {color: mix($meter_green, $meter_yellow, 46.94%)}
.meter_75 {color: mix($meter_green, $meter_yellow, 48.98%)}
.meter_76 {color: mix($meter_green, $meter_yellow, 51.02%)}
.meter_77 {color: mix($meter_green, $meter_yellow, 53.06%)}
.meter_78 {color: mix($meter_green, $meter_yellow, 55.10%)}
.meter_79 {color: mix($meter_green, $meter_yellow, 57.14%)}
.meter_80 {color: mix($meter_green, $meter_yellow, 59.18%)}
.meter_81 {color: mix($meter_green, $meter_yellow, 61.22%)}
.meter_82 {color: mix($meter_green, $meter_yellow, 63.27%)}
.meter_83 {color: mix($meter_green, $meter_yellow, 65.31%)}
.meter_84 {color: mix($meter_green, $meter_yellow, 67.35%)}
.meter_85 {color: mix($meter_green, $meter_yellow, 69.39%)}
.meter_86 {color: mix($meter_green, $meter_yellow, 71.43%)}
.meter_87 {color: mix($meter_green, $meter_yellow, 73.47%)}
.meter_88 {color: mix($meter_green, $meter_yellow, 75.51%)}
.meter_89 {color: mix($meter_green, $meter_yellow, 77.55%)}
.meter_90 {color: mix($meter_green, $meter_yellow, 79.59%)}
.meter_91 {color: mix($meter_green, $meter_yellow, 81.63%)}
.meter_92 {color: mix($meter_green, $meter_yellow, 83.67%)}
.meter_93 {color: mix($meter_green, $meter_yellow, 85.71%)}
.meter_94 {color: mix($meter_green, $meter_yellow, 87.76%)}
.meter_95 {color: mix($meter_green, $meter_yellow, 89.80%)}
.meter_96 {color: mix($meter_green, $meter_yellow, 91.84%)}
.meter_97 {color: mix($meter_green, $meter_yellow, 93.88%)}
.meter_98 {color: mix($meter_green, $meter_yellow, 95.92%)}
.meter_99 {color: mix($meter_green, $meter_yellow, 97.96%)}
.meter_100 {color: mix($meter_green, $meter_yellow, 100.00%)}