---
layout: default
---

<h1>Project Manager, Austin, Texas</h1>

<div id="controls">
  <p style="line-height: 1.309; margin-top: -0.5em;">Re-prioritize your results by adjusting the sliders.</p>
  <div id="execution">
    <h2>Task Execution <span class="tip fa fa-info-circle" title="Give preference to jobs with language patterns in their descriptions that reflect a higher or lower level of execution, experience, or task-orientation."></span></h2>
    {% include slider.html %}
  </div>
  <div id="involvement">
    <h2>Team Involvement <span class="tip fa fa-info-circle" title="Give preference to jobs with language patterns in their descriptions that reflect a higher or lower level of team culture, camaraderie, or sense of purpose."></span></h2>
    {% include slider.html %}
  </div>
</div>

<div id="jobs">
  <ul>
    <li data-x="0.03943295" data-y="-0.033311611" data-delta="0.051619967" class="7a0ba761ae5ee65c" data-url="http://www.indeed.com/viewjob?jk=7a0ba761ae5ee65c&qd=h5nM_S5Te8GZWvjuAZOc09uw9oszL_G6OoO9VFeCDu-FZihwyqKwYRG1QsxblDSHV4mV1Ad_17hdjYpHM9ko8hZGlDA4XqGPYDGmPwQu9AUdl3t9L6TMiU2Sd-kPyRmOHqeiOfrcDO4wvLXfvaxkxg&indpubnum=8593780845672008&chnl=proto&atk=1bdl2r71kaf2kbl2">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Program Management Consultant</div><div class="company">Dell</div></div>
    </li>
    <li data-x="-0.032061717" data-y="0.056673911" data-delta="0.065114406" class="1e5df25506fa3f25" data-url="http://www.indeed.com/viewjob?jk=1e5df25506fa3f25&qd=h5nM_S5Te8GZWvjuAZOc09uw9oszL_G6OoO9VFeCDu-FZihwyqKwYRG1QsxblDSHV4mV1Ad_17hdjYpHM9ko8hZGlDA4XqGPYDGmPwQu9AUdl3t9L6TMiU2Sd-kPyRmOHqeiOfrcDO4wvLXfvaxkxg&indpubnum=8593780845672008&chnl=proto&atk=1bdl2r71kaf2kbl2">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Marketing & Communications Specialist</div><div class="company">United Way</div></div>
    </li>
    <li data-x="0.008253617" data-y="-0.105059891" data-delta="0.105383599" class="fcb1e8f0ddefd065" data-url="http://www.indeed.com/viewjob?jk=fcb1e8f0ddefd065&qd=h5nM_S5Te8GZWvjuAZOc04LTKzU8YwLaGlvFS23ogYv3GyGcNOY50WPE0ZHb2gRAbJbesSu9Mlh1SS57rnwabWs1H3g_lOZFFgq7jD4OwrjpYTjBYrgcoj9aAg9ZaQeE&indpubnum=8593780845672008&chnl=proto&atk=1be4r069d19s36ph">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Customer Project Manager</div><div class="company">GTT Communications</div></div>
    </li>
    <li data-x="-0.09304775" data-y="-0.077341481" data-delta="0.120994167" class="90cb4f08375dcfee" data-url="http://www.indeed.com/viewjob?jk=90cb4f08375dcfee&qd=h5nM_S5Te8GZWvjuAZOc04LTKzU8YwLaGlvFS23ogYv3GyGcNOY50WPE0ZHb2gRAbJbesSu9Mlh1SS57rnwabWs1H3g_lOZFFgq7jD4OwrjpYTjBYrgcoj9aAg9ZaQeE&indpubnum=8593780845672008&chnl=proto&atk=1be4r069d19s36ph">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Project Manager</div><div class="company">University of Texas at Austin</div></div>
    </li>
    <li data-x="0.125013367" data-y="-0.030907952" data-delta="0.128777495" class="a56b37efbe1f2fa0" data-url="http://www.indeed.com/viewjob?jk=a56b37efbe1f2fa0&qd=h5nM_S5Te8GZWvjuAZOc04LTKzU8YwLaGlvFS23ogYv3GyGcNOY50WPE0ZHb2gRAbJbesSu9Mlh1SS57rnwabWs1H3g_lOZFFgq7jD4OwrjpYTjBYrgcoj9aAg9ZaQeE&indpubnum=8593780845672008&chnl=proto&atk=1be4r069d19s36ph">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Program Manager</div><div class="company">Blizzard Entertainment</div></div>
    </li>
    <li data-x="-0.006835283" data-y="0.156577101" data-delta="0.156726225" class="c54a1ff255612e97" data-url="http://www.indeed.com/viewjob?jk=c54a1ff255612e97&qd=h5nM_S5Te8GZWvjuAZOc09uw9oszL_G6OoO9VFeCDu-FZihwyqKwYRG1QsxblDSHV4mV1Ad_17hdjYpHM9ko8hZGlDA4XqGPYDGmPwQu9AUdl3t9L6TMiU2Sd-kPyRmOHqeiOfrcDO4wvLXfvaxkxg&indpubnum=8593780845672008&chnl=proto&atk=1bdl2r71kaf2kbl2">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Project Executive (San Antonio/Austin)</div><div class="company">Turner Construction Company</div></div>
    </li>
    <li data-x="0.1967143" data-y="-0.004870525" data-delta="0.196774586" class="88b46462b908ce6f" data-url="http://www.indeed.com/viewjob?jk=88b46462b908ce6f&qd=h5nM_S5Te8GZWvjuAZOc04LTKzU8YwLaGlvFS23ogYv3GyGcNOY50WPE0ZHb2gRAbJbesSu9Mlh1SS57rnwabWs1H3g_lOZFFgq7jD4OwrjpYTjBYrgcoj9aAg9ZaQeE&indpubnum=8593780845672008&chnl=proto&atk=1be4r069d19s36ph">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Contract Project Manager</div><div class="company">Asuragen</div></div>
    </li>
    <li data-x="-0.17774235" data-y="-0.092071754" data-delta="0.200173802" class="09fe665ec31ee559" data-url="http://www.indeed.com/viewjob?jk=09fe665ec31ee559&qd=h5nM_S5Te8GZWvjuAZOc09uw9oszL_G6OoO9VFeCDu-FZihwyqKwYRG1QsxblDSHV4mV1Ad_17hdjYpHM9ko8hZGlDA4XqGPYDGmPwQu9AUdl3t9L6TMiU2Sd-kPyRmOHqeiOfrcDO4wvLXfvaxkxg&indpubnum=8593780845672008&chnl=proto&atk=1bdl2r71kaf2kbl2">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Project Manager</div><div class="company">The Creative Group</div></div>
    </li>
    <li data-x="-0.205461983" data-y="-0.023123113" data-delta="0.20675905" class="40581d9ba36e0003" data-url="http://www.indeed.com/viewjob?jk=40581d9ba36e0003&qd=h5nM_S5Te8GZWvjuAZOc04LTKzU8YwLaGlvFS23ogYv3GyGcNOY50WPE0ZHb2gRAbJbesSu9Mlh1SS57rnwabWs1H3g_lOZFFgq7jD4OwrjpYTjBYrgcoj9aAg9ZaQeE&indpubnum=8593780845672008&chnl=proto&atk=1be4r069d19s36ph">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Installation Project Manager</div><div class="company">Tesla Motors</div></div>
    </li>
    <li data-x="-0.11117665" data-y="0.231015099" data-delta="0.256375161" class="bc824d0801a9c8cf" data-url="http://www.indeed.com/viewjob?jk=bc824d0801a9c8cf&qd=h5nM_S5Te8GZWvjuAZOc09uw9oszL_G6OoO9VFeCDu-FZihwyqKwYRG1QsxblDSHV4mV1Ad_17hdjYpHM9ko8hZGlDA4XqGPYDGmPwQu9AUdl3t9L6TMiU2Sd-kPyRmOHqeiOfrcDO4wvLXfvaxkxg&indpubnum=8593780845672008&chnl=proto&atk=1bdl2r71kaf2kbl2">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Marketing Project Manager</div><div class="company">The National Alliance for Insurance Education & Research</div></div>
    </li>
    <li data-x="-0.266605817" data-y="0.070287526" data-delta="0.275715429" class="b3320b27577b05b5" data-url="http://www.indeed.com/viewjob?jk=b3320b27577b05b5&qd=h5nM_S5Te8GZWvjuAZOc09uw9oszL_G6OoO9VFeCDu-FZihwyqKwYRG1QsxblDSHV4mV1Ad_17hdjYpHM9ko8hZGlDA4XqGPYDGmPwQu9AUdl3t9L6TMiU2Sd-kPyRmOHqeiOfrcDO4wvLXfvaxkxg&indpubnum=8593780845672008&chnl=proto&atk=1bdl2r71kaf2kbl2">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Digital Strategist-Austin, TX</div><div class="company">IBM</div></div>
    </li>
    <li data-x="-0.272857533" data-y="-0.052282493" data-delta="0.277821332" class="96224761215cd31c" data-url="http://www.indeed.com/viewjob?jk=96224761215cd31c&qd=h5nM_S5Te8GZWvjuAZOc09uw9oszL_G6OoO9VFeCDu-FZihwyqKwYRG1QsxblDSHV4mV1Ad_17hdjYpHM9ko8hZGlDA4XqGPYDGmPwQu9AUdl3t9L6TMiU2Sd-kPyRmOHqeiOfrcDO4wvLXfvaxkxg&indpubnum=8593780845672008&chnl=proto&atk=1bdl2r71kaf2kbl2">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Digital Project Manager</div><div class="company">Springbox</div></div>
    </li>
    <li data-x="-0.04663985" data-y="0.302466553" data-delta="0.306041322" class="24809eeb10e89060" data-url="http://www.indeed.com/viewjob?jk=24809eeb10e89060&qd=h5nM_S5Te8GZWvjuAZOc09uw9oszL_G6OoO9VFeCDu-FZihwyqKwYRG1QsxblDSHV4mV1Ad_17hdjYpHM9ko8hZGlDA4XqGPYDGmPwQu9AUdl3t9L6TMiU2Sd-kPyRmOHqeiOfrcDO4wvLXfvaxkxg&indpubnum=8593780845672008&chnl=proto&atk=1bdl2r71kaf2kbl2">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Sr. Marketing Specialist, Customer Marketing</div><div class="company">Epicor</div></div>
    </li>
    <li data-x="-0.309420483" data-y="0.068594149" data-delta="0.316932474" class="b25ce1fe11db3b88" data-url="http://www.indeed.com/viewjob?jk=b25ce1fe11db3b88&qd=h5nM_S5Te8GZWvjuAZOc04LTKzU8YwLaGlvFS23ogYv3GyGcNOY50WPE0ZHb2gRAbJbesSu9Mlh1SS57rnwabWs1H3g_lOZFFgq7jD4OwrjpYTjBYrgcoj9aAg9ZaQeE&indpubnum=8593780845672008&chnl=proto&atk=1be4r069d19s36ph">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Sr. Project Manager</div><div class="company">Emerson</div></div>
    </li>
    <li data-x="-0.31239295" data-y="-0.070678046" data-delta="0.320288528" class="80d901434028a208" data-url="http://www.indeed.com/viewjob?jk=80d901434028a208&qd=h5nM_S5Te8GZWvjuAZOc09uw9oszL_G6OoO9VFeCDu-FZihwyqKwYRG1QsxblDSHV4mV1Ad_17hdjYpHM9ko8hZGlDA4XqGPYDGmPwQu9AUdl3t9L6TMiU2Sd-kPyRmOHqeiOfrcDO4wvLXfvaxkxg&indpubnum=8593780845672008&chnl=proto&atk=1bdl2r71kaf2kbl2">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Operations & Logistics Manager, Marketing Analytics- Remote Markets</div><div class="company">Uber</div></div>
    </li>
    <li data-x="-0.203308517" data-y="-0.291587652" data-delta="0.355468299" class="e89b7ffb341519c7" data-url="http://www.indeed.com/viewjob?jk=e89b7ffb341519c7&qd=h5nM_S5Te8GZWvjuAZOc04LTKzU8YwLaGlvFS23ogYv3GyGcNOY50WPE0ZHb2gRAbJbesSu9Mlh1SS57rnwabWs1H3g_lOZFFgq7jD4OwrjpYTjBYrgcoj9aAg9ZaQeE&indpubnum=8593780845672008&chnl=proto&atk=1be4r069d19s36ph">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Senior Project Manager</div><div class="company">Allset</div></div>
    </li>
    <li data-x="0.351000617" data-y="0.282366078" data-delta="0.450479783" class="3b67cde0ab189afc" data-url="http://www.indeed.com/viewjob?jk=3b67cde0ab189afc&qd=h5nM_S5Te8GZWvjuAZOc04LTKzU8YwLaGlvFS23ogYv3GyGcNOY50WPE0ZHb2gRAbJbesSu9Mlh1SS57rnwabWs1H3g_lOZFFgq7jD4OwrjpYTjBYrgcoj9aAg9ZaQeE&indpubnum=8593780845672008&chnl=proto&atk=1be4r069d19s36ph">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Facilities Project Manager</div><div class="company">Travis County</div></div>
    </li>
    <li data-x="-0.573476067" data-y="-0.181788735" data-delta="0.601599487" class="cc58f91dd642425e" data-url="http://www.indeed.com/viewjob?jk=cc58f91dd642425e&qd=h5nM_S5Te8GZWvjuAZOc04LTKzU8YwLaGlvFS23ogYv3GyGcNOY50WPE0ZHb2gRAbJbesSu9Mlh1SS57rnwabWs1H3g_lOZFFgq7jD4OwrjpYTjBYrgcoj9aAg9ZaQeE&indpubnum=8593780845672008&chnl=proto&atk=1be4r069d19s36ph">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Program Manager</div><div class="company">YETI Coolers</div></div>
    </li>
    <li data-x="-0.142436783" data-y="-0.585178392" data-delta="0.602264051" class="da81effc853725ce" data-url="http://www.indeed.com/viewjob?jk=da81effc853725ce&qd=h5nM_S5Te8GZWvjuAZOc04LTKzU8YwLaGlvFS23ogYv3GyGcNOY50WPE0ZHb2gRAbJbesSu9Mlh1SS57rnwabWs1H3g_lOZFFgq7jD4OwrjpYTjBYrgcoj9aAg9ZaQeE&indpubnum=8593780845672008&chnl=proto&atk=1be4r069d19s36ph">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Master Plumber</div><div class="company">Williams & James</div></div>
    </li>
    <li data-x="-0.647291917" data-y="-0.489318186" data-delta="0.811430288" class="d0545c84bef3f5f3" data-url="http://www.indeed.com/viewjob?jk=d0545c84bef3f5f3&qd=h5nM_S5Te8GZWvjuAZOc04LTKzU8YwLaGlvFS23ogYv3GyGcNOY50WPE0ZHb2gRAbJbesSu9Mlh1SS57rnwabWs1H3g_lOZFFgq7jD4OwrjpYTjBYrgcoj9aAg9ZaQeE&indpubnum=8593780845672008&chnl=proto&atk=1be4r069d19s36ph">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">Project Manager</div><div class="company">IBM</div></div>
    </li>
    <li data-x="0.077969817" data-y="-0.950173219" data-delta="0.953366896" class="d45af4bef8eae1b2" data-url="http://www.indeed.com/viewjob?jk=d45af4bef8eae1b2&qd=h5nM_S5Te8GZWvjuAZOc09uw9oszL_G6OoO9VFeCDu-FZihwyqKwYRG1QsxblDSHV4mV1Ad_17hdjYpHM9ko8hZGlDA4XqGPYDGmPwQu9AUdl3t9L6TMiU2Sd-kPyRmOHqeiOfrcDO4wvLXfvaxkxg&indpubnum=8593780845672008&chnl=proto&atk=1bdl2r71kaf2kbl2">
      <div class="circle"><i class="fa fa-circle"></i></div><div class="flag"><i class="fa fa-flag-o"></i></div>
      <div class="job"><div class="job_title">MEP Project Manager</div><div class="company">DBR Engineering Consultants, Inc.</div></div>
    </li>
  </ul>
  <div class="attribution">{% include indeed.html %}</div>
</div>